<template>
  
    <transition name="fade">
        <div class="modal-overlay">
            <div class="modal-overlay__detail">
                <div class="modal-overlay__image">
                    <img :src="`https://image.tmdb.org/t/p/w185_and_h278_bestv2`+movie.poster_path" />
                </div>
                <div class="modal-overlay__information">
                    <div class="modal-overlay__close">
                        <img src="../../assets/icons/close.png" @click="$emit('closeModal')"/>
                    </div>
                    <div class="modal-overlay__content-1">
                        <div class="modal-overlay__container">
                            <h3>{{movie.title}}</h3>
                            <div class="modal-overlay__specifications">
                                <div class="modal-overlay__categories">
                                    <span v-for="(genre,index) in movie.genres" :key="index">{{genre.name}}</span>
                                </div>
                                <div class="modal-overlay__duration" >
                                    <span>PG-14</span> <span>2h 3m</span>
                                </div>
                            </div>
                            <hr/>
                            <div class="modal-overlay__ratings">
                                <div class="modal-overlay__rating-content">
                                    <div class="modal-overlay__icons">
                                        <img src="../../assets/icons/heart.png"/> <span>{{movie.vote_average}}</span>
                                    </div>
                                    <div>
                                        <span>Rating</span>
                                    </div>
                                </div>
                                <div class="modal-overlay__rating-content">
                                    <div class="modal-overlay__icons">
                                        <img src="../../assets/icons/thumb-down.png"/> <span>{{movie.vote_count}}</span>
                                    </div>
                                    <div>
                                        <span>Score</span>
                                    </div>
                                </div>
                                <div class="modal-overlay__rating-content">
                                    <div class="modal-overlay__icons">
                                        <img src="../../assets/icons/trophy.png"/> <span>{{movie.popularity}}</span>
                                    </div>
                                    <div>
                                        <span>Awards</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-overlay__content-2">
                        <span>{{movie.overview}}</span>
                    </div>
                    <div class="modal-overlay__content-3">
                        <a href="#">FULL MOVIE PROFILE</a>
                    </div>
                    <div class="modal-overlay__footer">
                        <div class="modal-overlay__footer-1">
                            <span>Watch Trailer</span>
                            <img src="../../assets/icons/play.png"/>
                        </div>
                        <div class="modal-overlay__footer-2">
                            <span>To WathcList</span>
                            <img src="../../assets/icons/star.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
   
    
</template>
<script>
export default {
    name: 'DetailMovie',
    emits:['closeModal'],
    props:{
        movie: {
            required:true
        }
    },
    data:() => ({

    }),
    methods:{

    }
}
</script>