<template>
    
    <div class="cardmovie" @click="$emit('showModalDetail',movie)" >
        <div class="cardmovie__image">
            <img :src="`https://image.tmdb.org/t/p/w185_and_h278_bestv2`+movie.poster_path" />
        </div>
        <div class="cardmovie__footer">
            <div class="cardmovie__title">
                <h3>{{movie.title}}</h3>
            </div>
            
            <div class="cardmovie__categories" >
                <span>Adventure</span>
            </div>
            <div class="cardmovie__likes" >
                <div class="cardmovie__likes-content-1" >
                    <img src="../../assets/icons/heart.png"  />
                    <span>{{movie.vote_average}}</span>
                </div>
                <!-- <div class="cardmovie__likes-content-2" >
                    
                </div> -->
            </div>
            <div class="cardmovie__button" >
                <img src="../../assets/icons/plus.png"  />
            </div>
        </div>
    </div>
    
</template>
<script>

export default {
    name: 'CardMovie',
    emits: ['showModalDetail'],
    props:{
        movie: {
            required:true,
        }
    },
    data: () => ({
        
    })
}
</script>