@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700&family=Nunito:wght@200;600&family=Poppins:wght@700&family=Quicksand:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&family=Sarabun:wght@100;800&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sarabun', sans-serif;
*/