@import './variables';
@import './fonts';
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.btn-menu {
	display: none;
}

#btn-menu {
	display: none;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    padding: 20px 20px;
    &__logo {
        width: 100px;
        height: 70px;
    }
    &__menu{
        ul {
            display: flex;
            list-style: none;
        }
        ul li {
            margin: 0px 10px;
            font-family: 'Sarabun', sans-serif;
            font-weight: 800;
            color: $--color-white;
        }
    }
    &__icon-user{
        width: 40px;
        border-radius: 50%;
    }
    &__active {
        color: $--color-warning !important;
    }

}

.carousel {
    display: flex;
    justify-content: center;
    // z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    position: absolute;
    &__content {
        width: 75%;
        margin: 10% auto;
    }
    &__item-title{
        color: $--color-white;
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        margin: 0px;
    }
    &__categories{
        display: flex;
        flex-direction: row;
        color: $--color-white;
        width: 20%;
        justify-content: space-between;
        font-family: 'Sarabun', sans-serif;
    }
    &__button-watch {
        height: 40px;
        margin: 40px 0px;
        border: none;
        background-color: $--color-warning;
        border-radius: 20px;
        width: 150px;
        text-align: center;
        color: $--color-black;
        cursor: pointer;
    }
    &__subtitle{
        color: $--color-white;
        font-size: 13px;
        font-weight: 400;
        margin-top: 40px;
    }
    &__date {
        color: $--color-warning;
        font-size: 13px;
        font-weight: 400;
    }
    &__inner {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
    }
    &__item {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;  
        }
    }

    &__control {
        
        border: none;
        display: inline-block;
        position: absolute;
        color: #f3f3f3;
        cursor: pointer;
        opacity: .5;
    }
    &__prev {
        top:calc(42% - 25px);
    }
    &__next {
        top:calc(51% - 25px);
    }
    &__left {
        left: 0;
    }
    &__right {
        right: 20px;
    }
    &__indicators {
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translateX(-50%);
        left: 25px;
        top:calc(50% - 25px);
        z-index: 2;
    }
    &__indicator-item{
        width: 10px;
        height: 10px;
        border: none;
        background: #ffff;
        margin: 5px 0px;
        opacity: .5;
        border-radius: 50%;
        cursor: pointer;
    }
    &__active {
        opacity: 1;
    }
}

.movies {
    background-color: $--color-gray;
    width: 75%;
    margin: 0px auto;
    position: relative;
    top: 320px;
    border-radius: 5px;
    padding: 10px 10px;
    height: auto;
    margin-bottom: 200px;
    padding-bottom: 100px;
    &__header{
        width: 96%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $--color-gray-strong;
    }
    &__menu {
        nav {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        width: 100%;
        ul {
            width: 100%;
            margin: 0px auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 0px;
            list-style: none;
            height: 70px;
           
        }

        ul li {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 2px;
        }
    }
    &__rating{
        width: 100px;
    }
    &__active{
        color: $--color-warning !important;
        font-weight: 600;
        height: 100%;
        border-bottom: 2px solid $--color-warning;;
    }
    &__rating-container {
        background-color: $--color-warning;
        border-radius: 5px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items:center ;
        span{
            font-weight: 700;
            color: $--color-white;
        }
        img {
            width: 15px;
            height: 15px;
            margin-right: 8px;
        }

    }
    &__options{
        width: 96%;
        margin: 0px auto;
        padding: 30px 0px;
        display: flex;
        height: 40px;
        align-items: center;
        
    }
    &__options-buttons {
        width: 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            height: 25px;
            width: 25px;
        }
    }
    &__options-rating {
        width: 46%;
        height: 40px;
        padding: 15px 20px;
    }
    &__options-search {
        width: 46%;
        height: 40px;
        input {
            width: 100%;
            background: none;
            border: none;
            height: 40px;
            border-bottom: 2px solid $--color-gray-strong;
            outline: none;
        }
       
        input:focus{
            background: #fffcfc;
        }
      
    }
    &__options-search::after{

        content: url('../assets/icons/search.png');
        position: relative;
        right: -94%;
        top: -30px;
    }
    &__line-rating{
        width: 100%;
        height: 2px;
        border: none;
        margin-top: 20px;
        border-bottom: 2px solid $--color-warning ;
        // background: $--color-warning;
    }
}
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 96%;
    margin: 0px auto;
    padding: 10px 0px;
    
    justify-content: space-between;
}
.cardmovie {
    position: relative;
    width: 31%;
    background-color: #fff;
    margin-bottom: 25px;
    box-shadow: 0 4px 2px -2px #d7d5d5;
    &__image{
        width: 100%;
        height: 350px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__title{
        width: 90%;
        margin: 0px auto;
        height: 50px;
    }

    &__likes{
        width: 90%;
        display: flex;
        margin: 0px auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        img{
            width: 20px;
            height: 20px;
            margin: -4px 0px;
        }
        span{
            margin-left: 10px;
        }
    }
    &__footer{
        width: 100%;
        margin: 0px auto;
    
        
        h3 {
            font-weight: 500;
            padding: 0px;
            margin: 5px 0px;
        }

    }
    &__footer::after{ 
        border-style: solid;
        border-right: 25px solid $--color-warning;
        border-top: 25px solid transparent;
        border-left: 25px solid transparent;
        border-bottom: 25px solid $--color-warning;
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        
    }
    &__button{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 3;
        height: 20px;
        
        img {
            position: relative;
            top: 0px;
            width: 12px;
            height: 12px;
            padding-right: 7px;
        }
    }
    &__categories{
        width: 90%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        span {
            color: $--color-warning;
            font-size: 12px;
            margin-bottom: 15px;
        }
    }
}
.cardmovie:hover{
    width: 32%;
    transition: all 0.5s;
    padding: 5px;
}
.modal-overlay{
    background:rgba(#000,.9);
	color: #fff;
	position: fixed;
    z-index: 100;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: all .5s;
    &__detail {
        background-color: $--color-white;
        position: fixed;
        height: 80vh;
        width: 60%;
        left: 20%;
        top: 10%;
        display: flex;
        flex-direction: row;

    }
    &__image {
        background: #eee;
        width: 45%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__information{
        width: 55%;
        height: 100%;
    }
    &__content-1{
        width: 100%;
        height: 170px;
        background: $--color-white;
        position: relative;
        left: -40px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    &__container {
        width: 90%;
        margin: 0px auto;
        padding: 1px 10px;
    }
    h3 {
        color: $--color-black;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }
    &__specifications {
        width: 100%;
        color: $--color-black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__categories {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
            color: $--color-info !important;
            font-size: 12px;
            margin-right: 10px;
        }
    }

    &__duration {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        span {
            color: $--color-black;
            font-size: 12px;
            background: $--color-gray-strong;
            padding: 3px;
            border-radius: 10px;
        }
    }
    hr{
        border: none;
        margin-top: 15px;
        border-bottom: 2px solid $--color-gray;
    }
    &__ratings{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &__rating-content{
        width: 30%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $--color-black;
        font-size: 10px;
        text-align: center;
        img {
            width: 15px;
        }
    }
    &__icons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            margin-right: 5px;
        }
    }
    &__content-2 {
        display: flex;
        width: 83%;
        color: $--color-black;
        font-weight: 400;
        text-align: justify;
        padding: 20px 30px;
        min-height: 100px;
        max-height:100px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    &__content-3{
        width: 90%;
        margin: 0px auto;
        padding: 10px 30px;
        display: flex;
        justify-content: flex-start;
        color: $--color-info;
        a {
            color: $--color-info;
            text-decoration: none;
        }
    }
    &__close{
        width: 98%;
        display: flex;
        justify-content: flex-end;
        padding: 5px;
        img{
            width: 16px;
            margin-top: 7px;
            margin-right: 7px;
        }
    }
    &__footer {
        width: 55%;
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;

    }
    &__footer-1 {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $--color-warning;
        height: 13.5vh;
        font-size: 13px;
        span{
            margin-right: 10px;
        }
        img {
            width: 15px;
        }

    }
    &__footer-2 {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #424242;
        height: 13.5vh;
        font-size: 13px;
        span{
            margin-right: 10px;
        }
        img {
            width: 15px;
        }

    }
}
.footer{
    position:relative;
    z-index: 1000;
    background: $--color-white;
    left:0px;
    bottom:0px;
    height: 150px;
    width:100%;
    &__section-1{
        display: flex;
        flex-direction: row;
        padding: 20px 20px;
        align-items: center;
        border-bottom: 1px solid $--color-gray-strong;

    }
    &__logo{
        width: 40%;
        display: flex;
        justify-content: flex-start;
        span{
            font-size: 30px;
            font-family: 'Roboto', sans-serif;
            color: $--color-gray-strong;
            font-weight: bold;
        }
    }
    &__social-media{
        width: 20%;
        display: flex;
        justify-content: space-around;

    }
    &__since {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        span{
            color: $--color-gray-strong;
            font-size: 15px;
        }
    }
    &__section-2{
        display: flex;
        justify-content: center;
        padding: 20px 0px;
        a {
            text-decoration: none;
            color: $--color-warning;
            font-size: 13px;
        }
    }

}
@media screen and (min-width: 526px) and (max-width: 768px) {
    .btn-menu {
		display: block;
		font-size: 22px;
        margin-right: 10px;
	}
    #btn-menu:checked ~ .header__menu {
		margin: 0;
	}
    .header {
        background: $--color-warning;
        width: 100%;
        padding: 0px;
        &__icon-user {
            display: none;
        }

        &__menu{
            position: absolute;
			top:70px;
			width: 100%;
			left: 0;
			background: $--color-gray-strong;
			margin-left: -100%;
			transition: all 0.5s;
            ul {
                display: flex;
                flex-direction: column;
            }
            ul li {
                list-style: none;
                margin: 5px 10px;
                padding: 10px 30px;
            }
        }
    }
    .carousel {
        top: 70px;
        // height: 50px !important;
        &__categories{
            width: 100%;
        }

        &__item {
            height: 50%;
        }
        &__control {
            opacity: 1;
            right: 4px;
        }
        &__prev {
            top:calc(22% - 25px);
        }
        &__next {
            top:calc(32% - 25px);
        }

        &__indicators {
            top:calc(20% - 25px);
        }
        &__indicator-item{
            opacity: 1;
        }
        &__active {
            color: $--color-gray-strong;
            background: $--color-gray-strong;
            opacity: .8;
        }
    }
    .movies {
        top: 240px;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0px;
        &__header{
            width: 96%;
            margin: 0px auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: none
        }
        &__menu {
            flex-wrap: wrap;
            nav {
                flex-direction: row;
            }
            ul {
                padding: 10px 0px;
                flex-direction: row;
                height: auto;
            }
        }
        &__options{
            width: 100%;
            flex-direction: column;
            height: auto;
        }

        &__options-buttons {
            width: 30%;
            margin: 0;
            padding: 0;
        }

        &__options-rating {
            width: 90%;
            margin: 0;
            padding: 0px 0px;
            span,hr{
                margin: 0px auto;
                width: 100%;
            }
        }

        &__options-search {
            width: 90%;
            margin: 0px auto;
            margin: 0;
            padding: 0;
        }
    }
    .cards-container {
        width: 100%;
        margin: 0px;
        flex-direction: column;
        justify-content: center;
    }

    .cardmovie {
        width: 50%;
        margin: 10px auto;
    }

    .modal-overlay{
        &__detail {
            width: 90%;
            left: 5%;
            top: 5%;
            height: 90vh;
        } 
    }
}

@media screen and (min-width: 319px) and (max-width: 525px) {
    .btn-menu {
		display: block;
		font-size: 22px;
        margin-right: 10px;
	}
    #btn-menu:checked ~ .header__menu {
		margin: 0;
	}
    .header {
        background: $--color-warning;
        width: 100%;
        padding: 0px;
        &__icon-user {
            display: none;
        }

        &__menu{
            position: absolute;
			top:70px;
			width: 100%;
			left: 0;
			background: $--color-gray-strong;
			margin-left: -100%;
			transition: all 0.5s;
            ul {
                display: flex;
                flex-direction: column;
            }
            ul li {
                list-style: none;
                margin: 5px 10px;
                padding: 10px 30px;
            }
        }
    }
    .carousel {
        top: 70px;
        // height: 50px !important;
        &__categories{
            width: 100%;
        }

        &__item {
            height: 50%;
        }
        &__control {
            opacity: 1;
            right: 4px;
        }
        &__prev {
            top:calc(22% - 25px);
        }
        &__next {
            top:calc(32% - 25px);
        }

        &__indicators {
            top:calc(20% - 25px);
        }
        &__indicator-item{
            opacity: 1;
        }
        &__active {
            color: $--color-gray-strong;
            background: $--color-gray-strong;
            opacity: .8;
        }
    }
    .movies {
        top: 240px;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0px;
        &__header{
            width: 96%;
            margin: 0px auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid $--color-gray-strong;
        }
        &__menu {
            flex-wrap: wrap;
            nav {
                flex-direction: row;
            }
            ul {
                flex-direction: column;
                height: auto;
            }
        }
        &__options{
            width: 100%;
            flex-direction: column;
            height: auto;
        }

        &__options-buttons {
            width: 30%;
            margin: 0;
            padding: 0;
        }

        &__options-rating {
            width: 100%;
            margin: 0;
            padding: 0;
            span,hr{
                margin: 0px 10px;
                width: 93%;
            }
        }

        &__options-search {
            width: 90%;
            margin: 0px auto;
            margin: 0;
            padding: 0;
        }
    }
    .cards-container {
        width: 100%;
        margin: 0px;
        flex-direction: column;
        justify-content: center;
    }

    .cardmovie {
        width: 90%;
        margin: 10px auto;
    }
    .modal-overlay{
        &__detail {
            width: 90%;
            left: 5%;
            top: 5%;
            height: 90vh;
            flex-direction: column;
        }
        &__image {
            width: 100%;
            display: none;
            img {
                display: none;
            }
        }
        &__information{
            width: 100%;
        }
        &__content-1{
            width: 90%;
            margin: 0px auto;
            height: 200px;
            left: 0;
        }
        &__specifications{
            flex-direction: column;
        }
        &__categories{
            flex-direction: row;
        }
        &__duration {
            padding: 10px 0px;
            width: 100%;
        }
    }
}
