$--color-primary: #7367f0 !default;
$--color-success: #28c76f !default;
$--color-warning: rgb(245,197,24) !default;
$--color-danger: #ea5455 !default;
$--color-info: #1e88e5 !default;
$--color-white: #ffffff !default;
$--color-black: #000000 !default;
$--color-gray: #f5f5f5 !default;
$--color-gray-strong: #dddddd !default;

$--button-font-weight: 600 !default;

// Customs
$text-primary-color: #5e5873;
$text-secondary-color: #6e6b7b;
$dark-bg: #161d31;
$light-bg: #f8f8f8;
$dark-bg-secondary: #283046;
$dark-text-primary-color: #d0d2d6;
$dark-text-secondary-color: #b4b7bd;
$btn-rounded-width: 40px;
$btn-small-rounded-width: 32px;
$btn-mini-rounded-width: 26px;

