<template>
    <footer class="footer">
        <section class="footer__section-1"  >
            <div class="footer__logo">
                <span>IMDb</span>
            </div>
            <div class="footer__social-media">
                <img class="" src="../assets/icons/twitter-logo.png"/>
                <img class="" src="../assets/icons/facebook.png"/>
                <img class="" src="../assets/icons/instagram.png"/>
            </div>
            <div class="footer__since">
                <span>1990 - 2015 IMDB.COM INC</span>
            </div>
        </section>
        <section class="footer__section-2">
            <a href="#">SHOW MENÚ</a>
        </section>

    </footer>
</template>
<script>
export default {
    name:'FooterApp',
    setup() {
        
    },
}
</script>