<template>
    <header class="header">
        <img class="header__logo" src="../assets/logo/logoimdb.png"/>
        <input type="checkbox" id="btn-menu"/>
        <label class="btn-menu" for="btn-menu">
          <img src="../assets/icons/menu-button.png" />
        </label>
        <nav class="header__menu">
            <ul>
                <li class="header__active" >MOVIES</li>
                <li>CELEBS & PHOTOS</li>
                <li>COMMUNITY</li>
                <li>NEWS</li>
            </ul>
        </nav>
        <img class="header__icon-user" src="../assets/img/avatar.png"/>
    </header>
</template>
<script>
export default {
  name: 'AppHome',
  data () {
    return {
    }

  },
  methods: {
    
  }
}
</script>
