<template>
    
    <DetailMovie v-if="modalDetail" :movie="movie" @closeModal="closeModal" ></DetailMovie>
    <carousel :slides="slides" :interval="5000" controls indicators ></carousel>
    <div class="movies">
        <div class="movies__header">
            <div class="movies__menu">
                <nav>
                    <ul>
                        <li class="movies__active">IN THEATHER</li>
                        <li>COMMING SOON</li>
                        <li>CHARTS</li>
                        <li>TV SERIES</li>
                        <li>TRAILERS</li>
                        <li>MORE</li>
                        <li>
                            <div class="movies__rating">
                                <div class="movies__rating-container">
                                    <img src="../assets/icons/star.png" />
                                    <span>179</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
        <div class="movies__options">
            <div class="movies__options-buttons">
                <img src="../assets/icons/menu-list.png" />
                <img src="../assets/icons/menu-grid.png" />
            </div>
            <div class="movies__options-rating">
                <span>IMB Rating</span>
                <hr class="movies__line-rating"/>
            </div>
            <div class="movies__options-search">
                <input type="text" />
            </div>
        </div>
        <div class="cards-container" >
            <CardMovie v-for="(movie,index) in movies" :key="index" :movie="movie" @showModalDetail="showModal" ></CardMovie>
        </div>

    </div>
</template>

<script>

import Carousel from './carousel/Carousel.vue';
import CardMovie from './card-movie/CardMovie.vue';
import DetailMovie from './detail-movie/DetailMovie.vue';
import { mapState,mapActions } from 'vuex';

export default {
    name: 'AppHome',
    components: {
        Carousel,
        CardMovie,
        DetailMovie
    },
    data: () =>({
        slides: [
            {
                url: "https://blogthinkbig.com/wp-content/uploads/sites/4/2015/12/the-martian.jpg?w=1040",
                title: "THE MARTHIAN",
                categories:['adventure','sci-fi','thriller'],            
                date: "15 Oct 2015",
                country: 'USA' 
            },
            {
                url: "https://e00-marca.uecdn.es/assets/multimedia/imagenes/2018/06/18/15293326890873.jpg",
                title: "mad max: fury road",
                categories:['adventure','sci-fi','thriller'],            
                date: "15 Dic 2020",
                country: 'USA' 
            },
            {
                url: "https://lucasfh1976.files.wordpress.com/2015/06/jurassicworld.jpg?w=1024&h=576",
                title: "Jurassic World",
                categories:['adventure','sci-fi','thriller'],            
                date: "10 Ene 2022",
                country: 'USA' 
            },

            
            
        ],
        currentSlide: 0,
        apiKey: '44fc540e11d02be081cba8a772caf160',
        baseUrl: 'https://api.themoviedb.org/3/',
        modalDetail: false,
    }),
    created(){
        this.movies = this.movies.map((item) => {
            let i = item;
            i.poster_path = `https://image.tmdb.org/t/p/w185_and_h278_bestv2${i.poster_path}`;
            return i;
        });
    },
    mounted(){
        this.getPopularMovies();
    },
    computed:{
        ...mapState([
            'movies',
            'movie'
        ]),
    },
    methods: {
        ...mapActions([
            'getPopularMovies',
            'getMovie'
        ]),
        showModal(data){
            this.getMovie(data.id);
            if(this.movie !== null){
                this.modalDetail = true;
            }
        },
        closeModal(){
            this.modalDetail = false;
        }
    }
}
</script>

