<template>
    <transition :name="transitionEffect">
        <div class="carousel__item" v-show="currentSlide === index" v-bind:style="{backgroundSize:'cover',
        backgroundRepeat: 'no-repeat',
        backgroundImage:'url('+slide.url+')'}">
            <!-- <img :src="slide.url" /> -->
            <div class="carousel__content">
                <h2 class="carousel__item-title">{{slide.title}}</h2>
                <div class="carousel__categories" >
                    <span v-for="(category,index) in slide.categories" :key="index">{{category}}</span>
                </div>
                <button class="carousel__button-watch">Watch Trailer</button>
                <h3 class="carousel__subtitle">In theathers</h3>
                <span class="carousel__date">{{slide.date}} ({{slide.country}})</span>
            </div>
        </div>
    </transition>
</template>
<script>
export default {
    name:"CarouselItem",
    props: ['slide','currentSlide','index','direction'],
    computed: {
        transitionEffect () {
            return this.direction === "rigth" ? "slide-out" : "slide-in"
        }
    }
}
</script>
<style  scoped>
    .slide-in-enter-active,
    .slide-in-leave-active,
    .slide-out-enter-active,
    .slide-out-leave-active {
        transition: all 1s ease-in-out;
    }

    .slide-in-enter-from {
        transform: translateY(-100%);
    }
    .slide-in-leave-to {
        transform: translateY(100%);
    }
    .slide-out-enter-from {
        transform: translateY(100%);
    }
    .slide-out-leave-to {
        transform: translateY(-100%);
        
    }
</style>