<template>
    <img src="../../assets/icons/chevron-up.png" class="carousel__control carousel__right carousel__prev" @click="$emit('prev')" />
    <img src="../../assets/icons/chevron-down.png" class="carousel__control carousel__right carousel__next" @click="$emit('next')" />

    
</template>
<script>
export default {
    name:"CarouselControls",
    emits: ['prev','next'],
    setup() {
        
    },
}
</script>