<template>
    <div class="carousel__indicators">
        <button class="carousel__indicator-item"
        :class="{carousel__active: currentIndex === index}"
        v-for="(item,index) in total" 
        :key="index"
        @click="$emit('switch',index)"
         ></button>
    </div>
</template>
<script>
export default {
    name:"CarouselIndicators",
    emits: ['switch'],
    props:['total','currentIndex'],
    
}
</script>